:root {
  font-family: system-ui, sans-serif;
}

#main_content {
  width: 90%;
  margin-inline: auto;
  padding-inline: 3rem;
}

#boids_canvas {
  background-color: #676767;
  width: 100%;
  object-fit: contain;
}

#controls {
  display: flex;
  /* border: 1px solid red; */
  columns: 4;
  column-gap: 1rem;
  margin: 1rem 2rem;
  justify-content: center;
}

.slider_container>p {
  margin: 0 auto;
  text-align: center;
}

.slider {
  width: 100%;
}